.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stopwatch {
  background-color: #0e4d92;
  border-radius: 25px;
  padding: 20px 30px;
  width: 600px;
  height: 350px;
}

.stopwatch__header {
  color: white;
  letter-spacing: 0.15ch;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.325rem;
  font-weight: 500;
}

.stopwatch__display {
  background-color: white;
  padding: 2rem 1rem;
  margin-bottom: 1.625rem;
  position: relative;
  width: 120%;
  left: -10%;
  height: 200px;
  box-shadow: 0 0 20px 4px #44444477;
  border-radius: 4px;
}

.stopwatch__displayTimer > p {
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
}

.stopwatch__displayTimer > p > span {
  color: #5b5b5b;
  font-size: 1.325rem;
  font-weight: 400;
  margin-left: 5px;
}

.stopwatch__displayButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.stopwatch__displayButton {
  cursor: pointer;
  background-color: white;
  color: #0e4d92;
  border: 2px solid #0e4d92;
  outline: none;
  font-size: 1.625rem;
  padding: 5px 30px;
  border-radius: 5px;
  transition: all 0.1s;
}

.stopwatch__displayButton:hover {
  background-color: #0e4d92;
  color: white;
}
